
body{
    background-color: #222;
}

h2{
    font-family: "futura-pt", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

p{
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
}

header{
    
}
nav{
    height: 10vh;
    

}

nav ul{
     padding: 0;


}

nav ul li{
       
    display: inline-block;
    margin: 20px 15px 10px;

}

nav ul li a{
    text-decoration: none;
    color:yellow;
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
    transition: .3s all ease-in-out;
        

}

nav ul li a:hover{
       background-color: yellowgreen;
          
}




.hero {
    background-image: url(../imgs/alex-brisbey-KGQhWwB0tDg-unsplash.jpg);
    background-size: cover;
    min-height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h2{
    font-size: 3.5rem;
    color: yellow;
    text-align: center;
    padding: 0.625rem 1.25rem;
    width: 35%;
}


.hero p {
    font-size: 1.125rem;
    color: yellow;
    text-align: center;
    padding: 0.625rem 1.25rem;
    width: 35%;
}
.gallery{
    min-height: 65rem;
}

.gallery-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 75rem;
    margin: 0 auto;
}
.gallery-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}




.articles h2{
    font-size: 3.5rem;
    color: yellow;
    text-align: center;
    padding: 0.625rem 1.25rem;
    width: 35%;
}

.articles p{
    font-size: 1.125rem;
    color: yellow;
    text-align: center;
    padding: 0.625rem 1.25rem;
    width: 35%;
}

.flex{
    display: flex;
}

.flex div{
    
    border:  4px solid #222;
    margin: 5px;
    padding: 5px;
    transition: .3s all ease-in-out;
    direction: row;
    overflow: scroll;
}
.flex:hover{
    background-color: yellowgreen;
}
footer{
    background-color: darkgoldenrod;
}